<link rel="apple-touch-icon" sizes="57x57" href="{{ '/assets/favicon/apple-touch-icon-57x57.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ '/assets/favicon/apple-touch-icon-60x60.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/favicon/apple-touch-icon-72x72.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/favicon/apple-touch-icon-76x76.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/favicon/apple-touch-icon-114x114.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/favicon/apple-touch-icon-120x120.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/favicon/apple-touch-icon-144x144.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/favicon/apple-touch-icon-152x152.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon-180x180.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">
<link rel="mask-icon" href="{{ '/assets/favicon/safari-pinned-tab.svg' | relative_url }}" color="#4b4375">
<meta name="msapplication-TileColor" content="#4b4375">
<meta name="msapplication-TileImage" content="{{ '/assets/favicon/mstile-144x144.png' | relative_url }}">
<meta name="theme-color" content="#f5f6f7">

