<footer id="footer" class="footer text-center w-100 bg-primary-subtle p-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-inline">
                    {% for social in site.socials %}
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle mr-3" href="{{ social[1] }}" target="_blank">
                            <i class="bi bi-{{ social[0] }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="list-inline">
                    {% for item in site.data.navigation.footer %}
                    <li class="nav-item">
                        <a class="nav-link{% if page.url == item.url %} active{% endif %}"{% if page.url == item.url %} aria-current="page"{% endif %} href="{{ item.url }}">
                            {{ item.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <p class="text-muted small mb-0">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.author }}</p>
            </div>
        </div>
    </div>
</footer>