<header id="header" class="fixed-top bg-primary">
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ site.baseurl }}">
                <div class="text-center">
                    <p id="title" class="h5 fw-bold">{{ site.title }}</p>
                    <img id="logo" alt="logo" src="{{ '/assets/img/logo.svg' | relative_url }}" width="256"
                         height="78"/>
                    <p class="h6">{{ site.subtitle }}</p>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    {% include nav.html nav=site.data.navigation.header item_class="nav-link" %}
                </ul>
            </div>
        </div>
    </nav>
</header>